#GITIGNORE

#Executables
2d_example/square
deviceQuery/deviceQuery
*/*.o

#Swaps
*.swp
semi-structured/memory-capacity/obj/semi-structured_lib.o
semi-structured/memory-capacity/obj/memory-capacity.o
semi-structured/sphere/obj/semi-structured_lib.o
semi-structured/sphere/obj/sphere.o
semi-structured/sphere/sphere
